In [8]:
import pandas as pd
a = pd.read_csv("tips.csv").head(40)
print(a.index)

RangeIndex(start=0, stop=40, step=1)

In [6]:
a.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [7]:
# find the mean , max, count of numeric values
a.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
# a = pd.read_csv("tips.csv").tail(40)
# print(a)

     total_bill   tip     sex smoker   day    time  size
204       20.53  4.00    Male    Yes  Thur   Lunch     4
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [11]:
a[:3]

     total_bill   tip     sex smoker   day    time  size
204       20.53  4.00    Male    Yes  Thur   Lunch     4
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3

In [12]:
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [14]:
a.index.array

<NumpyExtensionArray>
[204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218,
 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
 234, 235, 236, 237, 238, 239, 240, 241, 242, 243]
Length: 40, dtype: int64

In [15]:
# In numpy array
a.to_numpy()

array([[20.53, 4.0, 'Male', 'Yes', 'Thur', 'Lunch', 4],
       [16.47, 3.23, 'Female', 'Yes', 'Thur', 'Lunch', 3],
       [26.59, 3.41, 'Male', 'Yes', 'Sat', 'Dinner', 3],
       [38.73, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 4],
       [24.27, 2.03, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [12.76, 2.23, 'Female', 'Yes', 'Sat', 'Dinner', 2],
       [30.06, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 3],
       [25.89, 5.16, 'Male', 'Yes', 'Sat', 'Dinner', 4],
       [48.33, 9.0, 'Male', 'No', 'Sat', 'Dinner', 4],
       [13.27, 2.5, 'Female', 'Yes', 'Sat', 'Dinner', 2],
       [28.17, 6.5, 'Female', 'Yes', 'Sat', 'Dinner', 3],
       [12.9, 1.1, 'Female', 'Yes', 'Sat', 'Dinner', 2],
       [28.15, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 5],
       [11.59, 1.5, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [7.74, 1.44, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [30.14, 3.09, 'Female', 'Yes', 'Sat', 'Dinner', 4],
       [12.16, 2.2, 'Male', 'Yes', 'Fri', 'Lunch', 2],
       [13.42, 3.48, 'Female', 'Yes', 'Fri', 'Lunch', 2],
       [8.58, 1.92, 'Male', 'Yes', 'Fri', 'Lunch', 1],
       [15.98, 3.0, 'Female', 'No', 'Fri', 'Lunch', 3],
       [13.42, 1.58, 'Male', 'Yes', 'Fri', 'Lunch', 2],
       [16.27, 2.5, 'Female', 'Yes', 'Fri', 'Lunch', 2],
       [10.09, 2.0, 'Female', 'Yes', 'Fri', 'Lunch', 2],
       [20.45, 3.0, 'Male', 'No', 'Sat', 'Dinner', 4],
       [13.28, 2.72, 'Male', 'No', 'Sat', 'Dinner', 2],
       [22.12, 2.88, 'Female', 'Yes', 'Sat', 'Dinner', 2],
       [24.01, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 4],
       [15.69, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 3],
       [11.61, 3.39, 'Male', 'No', 'Sat', 'Dinner', 2],
       [10.77, 1.47, 'Male', 'No', 'Sat', 'Dinner', 2],
       [15.53, 3.0, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [10.07, 1.25, 'Male', 'No', 'Sat', 'Dinner', 2],
       [12.6, 1.0, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [32.83, 1.17, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [35.83, 4.67, 'Female', 'No', 'Sat', 'Dinner', 3],
       [29.03, 5.92, 'Male', 'No', 'Sat', 'Dinner', 3],
       [27.18, 2.0, 'Female', 'Yes', 'Sat', 'Dinner', 2],
       [22.67, 2.0, 'Male', 'Yes', 'Sat', 'Dinner', 2],
       [17.82, 1.75, 'Male', 'No', 'Sat', 'Dinner', 2],
       [18.78, 3.0, 'Female', 'No', 'Thur', 'Dinner', 2]], dtype=object)

In [18]:
# to show data in descending order
a.sort_index(axis=0, ascending = False)

     total_bill   tip     sex smoker   day    time  size
243       18.78  3.00  Female     No  Thur  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2
239       29.03  5.92    Male     No   Sat  Dinner     3
238       35.83  4.67  Female     No   Sat  Dinner     3
237       32.83  1.17    Male    Yes   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
232       11.61  3.39    Male     No   Sat  Dinner     2
231       15.69  3.00    Male    Yes   Sat  Dinner     3
230       24.01  2.00    Male    Yes   Sat  Dinner     4
229       22.12  2.88  Female    Yes   Sat  Dinner     2
228       13.28  2.72    Male     No   Sat  Dinner     2
227       20.45  3.00    Male     No   Sat  Dinner     4
226       10.09  2.00  Female    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
224       13.42  1.58    Male    Yes   Fri   Lunch     2
223       15.98  3.00  Female     No   Fri   Lunch     3
222        8.58  1.92    Male    Yes   Fri   Lunch     1
221       13.42  3.48  Female    Yes   Fri   Lunch     2
220       12.16  2.20    Male    Yes   Fri   Lunch     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
218        7.74  1.44    Male    Yes   Sat  Dinner     2
217       11.59  1.50    Male    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
215       12.90  1.10  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
213       13.27  2.50  Female    Yes   Sat  Dinner     2
212       48.33  9.00    Male     No   Sat  Dinner     4
211       25.89  5.16    Male    Yes   Sat  Dinner     4
210       30.06  2.00    Male    Yes   Sat  Dinner     3
209       12.76  2.23  Female    Yes   Sat  Dinner     2
208       24.27  2.03    Male    Yes   Sat  Dinner     2
207       38.73  3.00    Male    Yes   Sat  Dinner     4
206       26.59  3.41    Male    Yes   Sat  Dinner     3
205       16.47  3.23  Female    Yes  Thur   Lunch     3
204       20.53  4.00    Male    Yes  Thur   Lunch     4

In [20]:
# chg the value
a.loc[243, "total_bill"]= 20.20
print(a)

     total_bill   tip     sex smoker   day    time  size
204       20.53  4.00    Male    Yes  Thur   Lunch     4
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       20.20  3.00  Female     No  Thur  Dinner     2

In [23]:
# to get specific data with loc
# b = a.loc[[204, 205], ["total_bill", "sex"]]
# print(b)

     total_bill     sex
204       20.53    Male
205       16.47  Female

In [24]:
a.loc[:, ["total_bill", "sex"]]

     total_bill     sex
204       20.53    Male
205       16.47  Female
206       26.59    Male
207       38.73    Male
208       24.27    Male
209       12.76  Female
210       30.06    Male
211       25.89    Male
212       48.33    Male
213       13.27  Female
214       28.17  Female
215       12.90  Female
216       28.15    Male
217       11.59    Male
218        7.74    Male
219       30.14  Female
220       12.16    Male
221       13.42  Female
222        8.58    Male
223       15.98  Female
224       13.42    Male
225       16.27  Female
226       10.09  Female
227       20.45    Male
228       13.28    Male
229       22.12  Female
230       24.01    Male
231       15.69    Male
232       11.61    Male
233       10.77    Male
234       15.53    Male
235       10.07    Male
236       12.60    Male
237       32.83    Male
238       35.83  Female
239       29.03    Male
240       27.18  Female
241       22.67    Male
242       17.82    Male
243       20.20  Female

In [26]:
a.loc[[204 , 205], :]

     total_bill   tip     sex smoker   day   time  size
204       20.53  4.00    Male    Yes  Thur  Lunch     4
205       16.47  3.23  Female    Yes  Thur  Lunch     3

In [27]:
# iloc  gives the data of specific location
a.iloc[0,1]

4.0

In [29]:
a.drop('tip', axis= 1)

     total_bill     sex smoker   day    time  size
204       20.53    Male    Yes  Thur   Lunch     4
205       16.47  Female    Yes  Thur   Lunch     3
206       26.59    Male    Yes   Sat  Dinner     3
207       38.73    Male    Yes   Sat  Dinner     4
208       24.27    Male    Yes   Sat  Dinner     2
209       12.76  Female    Yes   Sat  Dinner     2
210       30.06    Male    Yes   Sat  Dinner     3
211       25.89    Male    Yes   Sat  Dinner     4
212       48.33    Male     No   Sat  Dinner     4
213       13.27  Female    Yes   Sat  Dinner     2
214       28.17  Female    Yes   Sat  Dinner     3
215       12.90  Female    Yes   Sat  Dinner     2
216       28.15    Male    Yes   Sat  Dinner     5
217       11.59    Male    Yes   Sat  Dinner     2
218        7.74    Male    Yes   Sat  Dinner     2
219       30.14  Female    Yes   Sat  Dinner     4
220       12.16    Male    Yes   Fri   Lunch     2
221       13.42  Female    Yes   Fri   Lunch     2
222        8.58    Male    Yes   Fri   Lunch     1
223       15.98  Female     No   Fri   Lunch     3
224       13.42    Male    Yes   Fri   Lunch     2
225       16.27  Female    Yes   Fri   Lunch     2
226       10.09  Female    Yes   Fri   Lunch     2
227       20.45    Male     No   Sat  Dinner     4
228       13.28    Male     No   Sat  Dinner     2
229       22.12  Female    Yes   Sat  Dinner     2
230       24.01    Male    Yes   Sat  Dinner     4
231       15.69    Male    Yes   Sat  Dinner     3
232       11.61    Male     No   Sat  Dinner     2
233       10.77    Male     No   Sat  Dinner     2
234       15.53    Male    Yes   Sat  Dinner     2
235       10.07    Male     No   Sat  Dinner     2
236       12.60    Male    Yes   Sat  Dinner     2
237       32.83    Male    Yes   Sat  Dinner     2
238       35.83  Female     No   Sat  Dinner     3
239       29.03    Male     No   Sat  Dinner     3
240       27.18  Female    Yes   Sat  Dinner     2
241       22.67    Male    Yes   Sat  Dinner     2
242       17.82    Male     No   Sat  Dinner     2
243       20.20  Female     No  Thur  Dinner     2

In [31]:
# to drop row
a.drop(204, axis = 0)

     total_bill   tip     sex smoker   day    time  size
205       16.47  3.23  Female    Yes  Thur   Lunch     3
206       26.59  3.41    Male    Yes   Sat  Dinner     3
207       38.73  3.00    Male    Yes   Sat  Dinner     4
208       24.27  2.03    Male    Yes   Sat  Dinner     2
209       12.76  2.23  Female    Yes   Sat  Dinner     2
210       30.06  2.00    Male    Yes   Sat  Dinner     3
211       25.89  5.16    Male    Yes   Sat  Dinner     4
212       48.33  9.00    Male     No   Sat  Dinner     4
213       13.27  2.50  Female    Yes   Sat  Dinner     2
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       20.20  3.00  Female     No  Thur  Dinner     2